body {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: lavender;
    position: relative;
    width: 720px;
    height: 60px;
    border-radius: 15px;
    text-align: center;
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, -50%);
}

.personal-info {
    background-color: lavender;
    width: 720px;
    height: 310px;
    border-radius: 15px;
    margin-top: 20px;
}

.personal-info img {
    width: 180px;
    height: 270px;
    margin: 20px 20px;
    border-radius: 15px;
}

.personal-info-text {
    background-color:rgba(102, 205, 170, 0.5);
    width: 480px;
    height: 270px;
    float: right;
    margin: 20px 20px 20px 0px;
    border-radius: 15px;
    text-align: center;
}

.personal-info-text p {
    font-size: 20px;
    margin-bottom: 0px;
}

.personal-info-text h2 {
    margin-top: 25px;
}

h1, h2 {
    margin: 0px;
}
