body {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: #e6e6fa;
    position: relative;
    width: 720px;
    height: 60px;
    border-radius: 15px;
    text-align: center;
}

.personal-info {
    background-color: hsl(240, 67%, 94%);
    width: 720px;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
}

.personal-info-text {
    background-color:rgba(140, 202, 221, 0.5);
    width: 480px;
    height: 270px;
    float: right;
    margin: 20px 20px 20px 0px;
    border-radius: 15px;
    text-align: left;
}

.container-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact {
    padding-bottom: 10px;
}

.social-media {
    margin-bottom: 10px;
}

.other-info {
    background-color: #e6e6fa;
    width: 720px;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, -50%);
    margin: 0px;
}

.personal-info img {
    width: 180px;
    height: 270px;
    margin: 20px 20px;
    border-radius: 15px;
}

.personal-info-text table {
    margin: 0px 15px;
}

.personal-info-text td {
    vertical-align: top ;
}

ul, li {
    padding-bottom: 10px;
    margin: 0px 0px;
}

h2 {
    margin: 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.fa-2x {
    opacity: 0.75;
}


